.block {
  width: 40%;
  height: 445px;
  margin: 2% 2%;
  border: 3px solid #979797;
  background-color: #fff;
  border-radius: 5px;
  position: relative; }
  .block .block-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .block .block-content .block-title {
      font-size: 60px;
      font-weight: 300;
      margin-bottom: 25px; }
    .block .block-content .block-time {
      font-size: 80px; }
    .block .block-content .block-contact {
      font-size: 38px;
      font-weight: 300;
      margin-bottom: 50px;
      cursor: pointer; }
      .block .block-content .block-contact .contact-input {
        width: 75%;
        height: 25px;
        border: 0;
        border-bottom: 2px #726d6d solid;
        margin: 20px auto;
        font-size: 16px; }
        .block .block-content .block-contact .contact-input:focus {
          outline: none;
          border-bottom-color: #5aca0e; }
    .block .block-content .error-label {
      color: red;
      font-size: 14px;
      text-align: center;
      width: 75%;
      margin: 10px auto; }
    .block .block-content .block-title,
    .block .block-content .block-time,
    .block .block-content .block-contact {
      text-align: center; }
    .block .block-content .focus-button {
      text-align: center; }
      .block .block-content .focus-button button {
        height: 50px;
        width: 265px;
        font-size: 20px;
        font-weight: 700;
        border: 2px solid #5aca0e;
        border-radius: 5px;
        cursor: pointer; }
        .block .block-content .focus-button button:hover {
          background-color: #5aca0e;
          color: #fff;
          opacity: 0.7; }
    .block .block-content .edit {
      width: 35px;
      height: 35px;
      padding: 10px;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      right: 0; }

.transition {
  transform: translateX(calc(50% - 280px));
  transition: all 2s; }

.start {
  animation: start-progress 25s infinite; }

@keyframes start-progress {
  0% {
    background-color: #fff; }
  50% {
    background-color: #aaf69c; }
  100% {
    background-color: #fff; } }

.mid {
  animation: mid-progress 20s infinite; }

@keyframes mid-progress {
  0% {
    background-color: #fff; }
  50% {
    background-color: #fcfca8; }
  100% {
    background-color: #fff; } }

.end {
  animation: end-progress 15s infinite; }

@keyframes end-progress {
  0% {
    background-color: #fff; }
  50% {
    background-color: #fb9595; }
  100% {
    background-color: #fff; } }

@media (max-width: 768px) {
  .block {
    width: 100%;
    max-width: 100%;
    margin: 2%; } }
