.container {
	.header {
		padding: 45px 0 45px 0;
		.title {
			font-size: 36px;
			h3 {
				margin: 0;
			}
		}

		.subtitle {
			font-size: 28px;
		}
	}

	.get-focused-btn {
		height: 50px;
		width: 265px;
		font-size: 20px;
		font-weight: 700;
		border: 2px solid #5aca0e;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			background-color: #5aca0e;
			color: #fff;
			opacity: 0.7;
		}

		a {
			text-decoration: none;
		}
	}

	.info-blocks {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding-top: 90px;

		.info-block {
			width: 690px;
			height: 100%;
			margin: 20px 20px;
			background-color: #fff;
			border: 3px solid #979797;
			border-radius: 5px;

			.info-content {
				padding: 20px;

				h3 {
					font-size: 36px;
				}

				p {
					font-size: 28px;
				}
			}
		}
	}

	.social-details {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding: 40px 0 40px 0;

		.social-block {
			width: 690px;
			height: 150px;

			.github {
				width: 225px;
			}

			.twitch {
				width: 200px;
				padding-top: 20px;
			}

			.social-text {
				padding-top: 15px;
				p {
					font-size: 24px;
					margin: 0;
				}
			}
		}
	}
}
