.block {
	width: 450px;
	height: 300px;
	border: 2px solid #979797;
	border-radius: 5px;

	.block-title,
	.block-time,
	.block-contact {
		font-size: 24px;
		text-align: center;
	}

	button {
		margin: 0 auto;
		height: 40px;
		width: 100px;
	}
}
