.block {
  width: 560px;
  height: 445px;
  border: 3px solid #979797;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  left: calc(50% - 280px); }
  .block .block-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .block .block-title {
    font-size: 60px;
    margin-bottom: 25px; }
  .block .block-time {
    font-size: 80px; }
  .block .block-contact {
    font-size: 38px;
    margin-bottom: 50px;
    cursor: pointer; }
  .block .block-title,
  .block .block-time,
  .block .block-contact {
    text-align: center; }
  .block .focus-button {
    text-align: center; }
    .block .focus-button button {
      height: 50px;
      width: 265px;
      font-size: 20px;
      border: 2px solid #5aca0e;
      border-radius: 5px;
      cursor: pointer; }
      .block .focus-button button:hover {
        background-color: #5aca0e;
        color: #fff;
        opacity: 0.7; }

.transition {
  transform: translateX(calc(50% - 280px));
  transition: all 2s; }

.start {
  animation: start-progress 25s infinite; }

@keyframes start-progress {
  0% {
    background-color: #fff; }
  50% {
    background-color: #aaf69c; }
  100% {
    background-color: #fff; } }

.mid {
  animation: mid-progress 20s infinite; }

@keyframes mid-progress {
  0% {
    background-color: #fff; }
  50% {
    background-color: #fcfca8; }
  100% {
    background-color: #fff; } }

.end {
  animation: end-progress 15s infinite; }

@keyframes end-progress {
  0% {
    background-color: #fff; }
  50% {
    background-color: #fb9595; }
  100% {
    background-color: #fff; } }
