.form-content {
	width: 40%;
	max-width: 40%;
	flex-basis: auto;
	height: 445px;
	border-radius: 5px;
	margin: 2% 2%;
	border: 3px solid #979797;
	background-color: #fff;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;

		label {
			font-size: 18px;
		}

		.error-label {
			color: red;
			font-size: 14px;
			text-align: left;
			width: 75%;
			margin: 10px auto;
		}

		input {
			width: 75%;
			height: 25px;
			border: 0;
			border-bottom: 2px #726d6d solid;
			margin: 20px auto;
			font-size: 16px;

			&:focus {
				outline: none;
				border-bottom-color: #5aca0e;
			}
		}

		select {
			width: 75%;
			height: 25px;
			border: 0;
			margin: 20px auto;
			font-size: 16px;

			&:focus {
				outline: none;
			}
		}

		.action-buttons {
			button {
				&.action-delete {
					width: 5%;
					vertical-align: top;
					border-color: #fb9595;
					img {
						width: 20px;
						height: 25px;
					}
					&:hover {
						background-color: #fb9595;
					}
				}

				&.action-delete,
				&.action-cancel {
					margin-right: 3%;
				}

				&.action-cancel {
					border-color: #979797;
					&:hover {
						background-color: #979797;
					}
				}

				&.action-cancel,
				&:nth-child(3) {
					width: 30%;
				}
			}
		}

		button {
			margin: 0 auto;
			width: 50%;
			height: 50px;
			border: 2px solid #5aca0e;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;

			&:hover {
				background-color: #5aca0e;
				color: #fff;
				opacity: 0.7;
			}

			&:disabled {
				border: 2px #726d6d solid;
				background-color: #726d6d;
				color: #000;
				opacity: 0.3;
			}
		}
	}
}
