form {
  width: 50%;
  border-radius: 5px;
  padding: 29px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff; }
  form label {
    font-size: 18px; }
  form .error-label {
    color: red;
    font-size: 14px;
    text-align: left;
    width: 75%;
    margin: 10px auto; }
  form input {
    width: 75%;
    height: 25px;
    border: 0;
    border-bottom: 2px #726d6d solid;
    margin: 20px auto;
    font-size: 16px; }
    form input:focus {
      outline: none;
      border-bottom-color: #5aca0e; }
  form select {
    width: 75%;
    height: 25px;
    border: 0;
    margin: 20px auto;
    font-size: 16px; }
    form select:focus {
      outline: none; }
  form .action-buttons button.action-delete {
    width: 5%;
    vertical-align: top;
    border-color: #fb9595; }
    form .action-buttons button.action-delete img {
      width: 20px;
      height: 25px; }
    form .action-buttons button.action-delete:hover {
      background-color: #fb9595; }
  form .action-buttons button.action-delete, form .action-buttons button.action-cancel {
    margin-right: 3%; }
  form .action-buttons button.action-cancel {
    border-color: #979797; }
    form .action-buttons button.action-cancel:hover {
      background-color: #979797; }
  form .action-buttons button.action-cancel, form .action-buttons button:nth-child(3) {
    width: 30%; }
  form button {
    margin: 0 auto;
    width: 50%;
    height: 50px;
    border: 2px solid #5aca0e;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; }
    form button:hover {
      background-color: #5aca0e;
      color: #fff;
      opacity: 0.7; }
    form button:disabled {
      border: 2px #726d6d solid;
      background-color: #726d6d;
      color: #000;
      opacity: 0.3; }
