.nav {
	border-bottom: 1px solid #979797;

	h1 {
		margin-left: 15px;
	}
}

//-- MAD PROPS brutusharvenius (Flex box GOD)--//
.content {
	display: flex;
	height: 100%;
	// justify-content: center;
	text-align: center;
	flex-direction: column;
	background: linear-gradient(#f2f4ff, #d4dbf6);
	position: relative;
}
