.nav {
	width: 100%;
	background-color: #fff;
	display: inline-block;
	border-bottom: 1px solid #979797;

	.title {
		display: inline-block;
		font-size: 36px;
		font-weight: 500;
		margin: 21px 0 21px 20px;
	}

	.nav-options {
		float: right;
		font-size: 28px;
		ul {
			a {
				display: inline;
				padding: 0 20px 0 20px;
				text-decoration: none;
				cursor: pointer;

				&:visited {
					color: #000;
				}

				&:hover {
					color: #5aca0e;
				}
			}
		}
	}
}

//-- MAD PROPS brutusharvenius (Flex box GOD)--//
.content {
	display: flex;
	height: 100%;
	text-align: center;
	flex-direction: column;
	position: relative;
}

@media (max-width: 414px) {
	.nav {
		.title {
			text-align: center;
			display: block;
			margin: 21px 0 0 0;
		}

		.nav-options {
			float: none;
		}
	}
}

@media (max-width: 411px) {
	.nav-options {
		text-align: center;
		ul {
			padding: 0;
		}
	}
}

@media (max-width: 375px) {
	.nav {
		.title {
			text-align: center;
			display: block;
			margin: 21px 0 0 0;
		}

		.nav-options {
			float: none;
		}
	}
}

@media (max-width: 320px) {
	.nav-options {
		ul {
			padding: 0;
		}
	}
}
